@import '../../../../variables';
.details {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    width: 100%;
    height: 30%;
    background-color: $secondaryPurple;
    color: $white;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    &-more {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 6rem 3rem;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $grey50;
        margin: 1rem 0;
      }
    }
  }
  &__image-container {
    width: 20vw;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      position: absolute;
      top: -15rem;
    }
  }
  &__movie {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h1 {
        font-size: 3rem;
        font-weight: bold;
      }
    }
    &-detailed-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &-synopsis {
      h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      max-width: 60ch;
      margin-top: 0.5rem;
      color: $grey10;
      line-height: 1.2;
    }
    &-credits {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      height: 200px;
      gap: 2rem;
      margin-top: 0.5rem;
      font-size: 0.875rem;
      align-items: center;
      justify-content: flex-start;
      overflow-y: auto;
      &-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        word-break: break-all;
        &-department {
          color: $grey10;
          margin-top: 0.4rem;
        }
      }
    }
  }
  &__cast {
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 1200px;
    height: 40vh;
    gap: 1.2rem;
    padding: 1rem;
  }
  &__recommendations {
    display: flex;
    max-width: 1200px;
    overflow-x: auto;
  }
}
