$primaryPurple: #5C16C5;
$secondaryPurple: #2D0C5E;
$orange: #D18000;
$limeGreen: #14FF00;
$grey10: #DDDDDD;
$grey20: #ADADAD;
$grey30: #646464;
$grey40: #323232;
$grey50: #131313;
$black: #000000;
$white: #ffffff;